:root{
    --primary-color: #DF30D9;
    --secondary-color: #00D6BD;
    --background-color: linear-gradient(90deg, #00d6bd, #df30d9);
    --text-mute: rgb(114, 114, 114);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Montserrat', sans-serif;
}
body{
    background: var(--background-color);
}
li{
    list-style-type: none;
    background-color: rgb(146, 50, 230);
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: -6px 0px 29px 7px #00000023;
    display: block;
    width: 100%;
    margin-bottom: 1em;
}
a{
    color: #fff;
    text-decoration: none;
}

/*  ADD TO DO */
.add-to-do{
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    width: 300px;
    background: linear-gradient(90deg, #df30d9, #00d6bd);;
    border-radius: 20px;
    box-shadow: -6px 0px 29px 7px #00000023;
}
.add-to-do form label{
    display: block;
    margin-bottom: 0.5em;
    font-size: 1.5rem;
    color: #fff;
}
.add-to-do form{
    width: 100%;
    margin-top: 15px;
}
.todo-input{
    width: 100%;
    padding: 8px 5px;
    border-radius: 5px;
}
.add-to-do form .add-btn{
    padding: 5px 15px;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 5px;
    margin-top: 0.4em;
    cursor: pointer;
}

.add-to-do #alerts{
    margin: 15px 0;
    height: 50px;
    width: 90%;
    display: none;
}

.add-to-do #alerts .alert{
    width: 100%;
    height: 100%;
    font-size: 0.9rem;
    padding: 0.75em 1em;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
}

.add-to-do #alerts #success{
    background-color: #4BB543;
    display: none;
    justify-content: space-between;
    align-items: center;
}
.add-to-do #alerts #danger{
    background-color: #dc3545;
    display: none;
    justify-content: space-between;
    align-items: center;
}

.add-to-do #alerts .alert .alert-closebtn{
    padding-left: 1em;
}
/* SEARCH TO DO AND TO DO ITEMS */

.my-todos{
    color: #fff;
    width: 700px;
    min-height: fit-content;
    margin: 2em auto;
    background: linear-gradient(90deg, #df30d9, #00d6bd);
    border-radius: 20px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -6px 0px 29px 7px #00000023;
}

.my-todos .search{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.my-todos .search form{
    display: block;
}
.my-todos .search form label{
    display: block;
    margin-bottom: 0.2em;
    font-size: 1.1rem;
    color: #fff;
}
.my-todos .search form input{
    width: 100%;
}
.my-todos .search .select{
    width: 200px;
    margin-top: 1.5em;
}
.my-todos .search .select select{
    width: 100%;
    padding: 8px 5px;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 3px;
    color: var(--text-mute);
}
.my-todos .clear-alltodos{
    margin-top: 1em;
}
.my-todos .clear-alltodos #clear-all{
    display: inline-block;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0.75em 2em;
    background-color: #dc3546c5;
    box-shadow: 5px -10px 80px #ffffff89;
    border-radius: 5px;
    transition: 0.3s ease transform;
}
.my-todos .clear-alltodos #clear-all:hover{
    transform: scale(1.1);
}
.my-todos h2 {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 8px;
    margin-top: 1em;
}
.my-todos .my-todo-list{
    margin-top: 1em;
    width: 100%;
}
.my-todos .my-todo-list ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
}
.my-todos .my-todo-list ul li i{
    font-size: 1.3em;
    padding-left: 0.3em;
}
.my-todos .my-todo-list ul li a .fa-check:hover{
    color: lime;
}
.my-todos .my-todo-list ul li a .fa-xmark:hover{
    color: #dc3545;
}
.my-todos .my-todo-list ul li a .fa-check,
.my-todos .my-todo-list ul li a .fa-xmark
{
    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 0.5s;
}

/* Completed to do */
.my-todos .my-todo-list ul li.completed{
    opacity: 0.5;
    transform: scale(0.98);
}
.my-todos .my-todo-list ul li.completed p{
    text-decoration: line-through

}


